@CHARSET "UTF-8";
@import url(//use.fontawesome.com/releases/v5.15.1/css/all.css);
/*===section===*/
.section {
	width: 100%;
	height: fit-content;
}
.section-content {
	max-width: 310px;
	margin: 0 auto;
	padding: 40px 60px;
	text-align: center;
	display: table;
}
h2 {
	color: #00214d;
}
h3 {
	color: #00214d;
}
p {
	color: #00214d;
}

/*---parallax---*/
.parallax {
	position: relative;
	min-height: 800px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.backimg-1  {
	background-image: url('img/back-img/backimg-1.jpg');
}
.backimg-2  {
	background-image: url('img/back-img/backimg-2.jpg');
}
.backimg-3  {
	background-image: url('img/back-img/backimg-1.jpg');
}
.backimg-4  {
	background-image: url('img/back-img/backimg-2.jpg');
}
.backimg-5  {
	background-image: url('img/back-img/backimg-1.jpg');
}
.backimg-6  {
	background-image: url('img/back-img/backimg-2.jpg');
}
.backimg-7  {
	background-image: url('img/back-img/backimg-1.jpg');
}
.backimg-8  {
	background-image: url('img/back-img/backimg-2.jpg');
}
@media screen and (max-width: 736px) {
	.cd-fixed-bg {
		background-size: cover;
		background-attachment: scroll;
	}
}



/*===introduce===*/
/*---fadein---*/
@keyframes fadein{
	0%{
		opacity: 0;
		transform: translateY(-20px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
.introduce-box{
	animation-name: fadein;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function:ease-in-out;
	color: #00214d;
}
/*---contact---*/
.contact-box{
	margin-top: 100px;
}

.contact-box .fa-large{
	font-size: xxx-large;
	color: #094067;
}

.contact-box .fa-large:hover{
	color: #00ebc7;
}

.contact-box .contact-icon{
	flex-direction: column;
	align-items: center;
}

.contact-box .contact-icon a{
	margin: 10px;
}



/*===history===*/
.history .fa-large{
	font-size: x-large;
	color: #094067;
	margin-left: 5px;
}

/*---timeline---*/
#conference-timeline {
	position: relative;
	max-width: 920px;
	width: 500px;
	margin: 0 auto;
	overflow: hidden;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
	display: table;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
	background: #00214d;
	padding: 15px 23px;
	color: #fff;
	max-width: 5%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
#conference-timeline .conference-center-line {
	position: absolute;
	width: 3px;
	height: 94%;
	top: 40px;
	left: 50%;
	margin-left: -2px;
	background: #00214d;
}
#conference-timeline .conference-timeline-content {
	padding-top: 67px;
	padding-bottom: 67px;
}
.timeline-article {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
	max-width: 44%;
	width: 100%;
}
.timeline-article .timeline-author {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #242424;
	text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
	position: relative;
	width: auto;
	background-color: #fff;
	padding: 27px 25px;
}
.timeline-article p {
	margin: 0 0 0 60px;
	padding: 0;
	font-weight: 400;
	color: #00214d;
	font-size: 14px;
	line-height: 24px;
	position: relative;
}
.timeline-article .ability-icon i{
	font-size: 30px;
}
.timeline-article p span.article-number {
	position: absolute;
	font-size: 40px;
	top: 0px;
	left: -60px;
	color: #00ebc7;
}
.timeline-article .content-left-container {
	float: left;
}
.timeline-article .content-right-container {
	float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
	position: absolute;
	top: 20px;
	font-size: 23px;
	font-family: "FontAwesome 5 Free";
	color: #fff;
}
.timeline-article .meta-date {
	position: absolute;
	top: 0;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	color: #fff;
	border-radius: 100%;
	background: #00214d;
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
	display: block;
	text-align: center;
	font-weight: 900;
}
.timeline-article .meta-date .date {
	font-size: 25px;
	line-height: 55px;
}
.timeline-article .meta-date .month {
	font-size: 15px;
	line-height: 10px;
}
@media only screen and (max-width: 830px) {
	#conference-timeline .timeline-start,
	#conference-timeline .timeline-end {
		margin: 0;
	}
	#conference-timeline .conference-center-line {
		margin-left: 0;
		left: 50px;
		height: 92%;
	}
	.timeline-article .meta-date {
		margin-left: 0;
		left: 10px;
	}
	.timeline-article .content-left-container,
	.timeline-article .content-right-container {
		max-width: 100%;
		width: auto;
		float: none;
		margin-left: 110px;
		min-height: 53px;
	}
	.timeline-article .content-left-container {
		margin-bottom: 20px;
	}
	.timeline-article .content-left,
	.timeline-article .content-right {
		padding: 10px 25px;
		min-height: 65px;
	}
}
@media only screen and (max-width: 400px) {
	.timeline-article p {
		margin: 0;
	}
	.timeline-article p span.article-number {
		display: none;
	}  
}

/*---slidein---*/
.slidein {
	opacity: 0;
	transform: translate(0,0);
	transition: all 1.0s;
}
.slidein-left{
	transform: translate(-100%,0);
}
.slidein-right{
	transform: translate(100%,0);
}

.scrollin{
	transform: translate(0, 0)!important;
	opacity: 1!important;
}



/*===IT books===*/
/*---swiper---*/
.read-book .slide{
	width: 400px;
	height: 400px;
	margin-top: 50px;
}

.read-book .slide img{
	width: 300px;
	height: 400px
	margin: auto;
}
/*---swiper---*/
.swiper-slide {
	height: 450px!important;
}
.read-book .swiper-pagination {
	background-image: none!important;
}
.read-book .swiper-pagination{
	bottom: -5px!important;
}
.swiper-button-prev {
	background-image: none!important;
}
.swiper-button-prev:after {
	content: ''!important;
	display: bloc!importantk;
	width: 15px!important;
	height: 15px!important;
	border-top: 5px solid #00ebc7!important;
	border-left: 5px solid #00ebc7!important;
	-webkit-transform: rotate(-45deg)!important;
	transform: rotate(-45deg)!important;
	position: absolute!important;
	top: 11px!important;
	left: 13px!important;
}
.swiper-button-next {
	background-image: none;
}
.swiper-button-next:after {
	content: ''!important;
	display: block!important;
	width: 15px!important;
	height: 15px!important;
	border-top: 5px solid #00ebc7!important;
	border-right: 5px solid #00ebc7!important;
	-webkit-transform: rotate(45deg)!important;
	transform: rotate(45deg)!important;
	position: absolute!important;
	top: 11px!important;
	right: 15px!important;
}
.swiper-pagination-bullet-active{
	background:#00ebc7!important;
}



/*===comics===*/
.read-comic{
	max-width: none;
	display: unset;
}

/*---accordion---*/
.accordion_section{
	z-index: 0;
	margin-top: 50px;
}
.s_10 .accordion_area {
	max-width: 1024px;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
}
.s_10 .accordion_one .accordion_header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 500px;
	float: left;
	background-color: #00214d;
	color: #fffffe;
	font-size: 26px;
	font-weight: bold;
	padding: 0;
	text-align: left;
	position: relative;
	z-index: +1;
	cursor: pointer;
	transition-duration: 0.2s;
}
.s_10 .accordion_one:nth-of-type(2) .accordion_header {
	background-color: #00ebc7;
	color: #00214d;
}
.s_10 .accordion_one:nth-of-type(3) .accordion_header {
	background-color: #00214d;
}
.s_10 .accordion_one .accordion_header:hover {
	opacity: .8;
}
.s_10 .accordion_one .accordion_header .header_inner {
	padding: 15px;
	writing-mode : vertical-rl ;
	-webkit-writing-mode : vertical-rl ; 
}
.s_10 .accordion_one .accordion_header .i_box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 5%;
	width: 40px;
	height: 40px;
	border: 1px solid #fffffe;
	margin-top: -20px;
	box-sizing: border-box;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: center center;
	transition-duration: 0.2s;
}
.s_10 .accordion_one .accordion_header.stay .i_box {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.s_10 .accordion_one .accordion_header .i_box .one_i {
	display: block;
	width: 18px;
	height: 18px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: center center;
	transition-duration: 0.2s;
	position: relative;
}
.s_10 .accordion_one .accordion_header.stay .i_box .one_i {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.s_10 .accordion_one .accordion_header.stay.open .i_box .one_i {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.s_10 .accordion_one .accordion_header.open .i_box {
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}
.s_10 .accordion_one .accordion_header.stay.open .i_box {
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}
.s_10 .accordion_one .accordion_header .i_box .one_i:before, .s_10 .accordion_one .accordion_header .i_box .one_i:after {
	display: flex;
	content: '';
	background-color: #fffffe;
	border-radius: 10px;
	width: 18px;
	height: 4px;
	position: absolute;
	top: 7px;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transform-origin: center center;
}
.s_10 .accordion_one .accordion_header .i_box .one_i:before {
	width: 4px;
	height: 18px;
	top: 0;
	left: 7px;
}
.s_10 .accordion_one .accordion_header.stay .i_box .one_i:before {
	content: none;
}
.s_10 .accordion_one .accordion_header.open .i_box .one_i:before {
	content: none;
}
.s_10 .accordion_one .accordion_header.stay.open .i_box .one_i:before {
	content: "";
}
.s_10 .accordion_one .accordion_header.open .i_box .one_i:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.s_10 .accordion_one .accordion_header.stay.open .i_box .one_i:after {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.s_10 .accordion_one .accordion_inner {
	float: left;
	width: 40%;
	height: 500px;
	overflow: hidden;
	display: none;
	padding: 0;
	border-top: 2px solid #00214d;
	border-right: 2px solid #00214d;
	border-bottom: 2px solid #00214d;
	box-sizing: border-box;
}
.s_10 .accordion_one .accordion_inner.stay {
	display: block;
	background: #fffffe;
}
.s_10 .accordion_one:nth-of-type(2) .accordion_inner {
	border-top: 2px solid #00ebc7;
	border-right: 2px solid #00ebc7;
	border-bottom: 2px solid #00ebc7;
	background: #fffffe
}
.s_10 .accordion_one:nth-of-type(3) .accordion_inner {
	border-top: 2px solid #00214d;
	border-right: 2px solid #00214d;
	border-bottom: 2px solid #00214d;
	background: #fffffe
}
.s_10 .accordion_one .accordion_inner .box_one {
	padding: 15px;
}
.s_10 .accordion_one .accordion_inner .box_one img{
	width: 230px;
}
.s_10 .accordion_one .accordion_inner p.txt_a_ac {
	margin: 0;
}
@media screen and (max-width: 1024px) {
	.s_10 .accordion_one .accordion_header {
		font-size: 18px;
	}
	.s_10 .accordion_one .accordion_header .i_box {
		width: 30px;
		height: 30px;
		margin-top: -15px;
	}
}
@media screen and (max-width: 767px) {
	.s_10 .accordion_one .accordion_header {
		justify-content: flex-start;
		font-size: 16px;
	}
}

/*===cosplay,pictures===*/
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container img {
	width: 150px;
	height: 150px;
	margin: 2px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
@media screen and (max-width:480px) { 
	.container img {
		width: 150px;
		height: 150px;
		margin: 2px;
		-webkit-filter: none;
		filter: none;
		-webkit-transition: none;
		transition: none;
	}
	.container img:hover {
		-webkit-filter: none;
		filter: none;
	}
}

/*---modal---*/
.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
      z-index: 2;
}
.bigimg {
      margin-top: 80px;
      margin-right: auto;
      margin-left: auto;
}
.bigimg img{
	width: 500px;
	height: 500px;
	margin-top: 50px;
}
.bigimgalt{
	color: #fffffe
}
.close-btn {
      color: #fffffe;
      font-size: 40px;
      position: absolute;
      right: 20px;
      top: 0;
}
.close-btn a {
      color: #fffffe;
      text-decoration: none;
}


/*===voice===*/
a.btn{
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
	text-decoration: none;
}

a.btn-malformation {
	font-size: 1rem;
	padding: 2rem 3rem;
	color: #00214d;
	border-radius: 100% 80px / 80px 80%;
	background-color: #00ebc7;
	margin: 10px;
}

a.btn-malformation:hover {
	color: #fffffe;
	border-radius: 60% 80% / 100% 80%;
}

/*===for Smart phone===*/
@media screen and (max-width:480px) { 
	body {
		width: fit-content;
    		margin: 0;
	}
	.read-book .slide img {
    		width: 300px;
    		height: 400px;
	} 
}

