@CHARSET "UTF-8";

.section {
  width: 100%;
  background-color: #fff;
}

.section-blue{
  background-color: #d8eefe;
}

.section-content {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: center;
  display: table;
}

h2 {
  color: #094067;
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  color: #094067;
}

p {
  color: #094067;
}

.history .fa-large{
  font-size: x-large;
  color: #094067;
  margin-left: 5px;
}

.read-book .slide{
  width: 400px;
  height: 400px;
  margin: auto;
}

.read-book .slide img{
  width: 300px;
  height: 400px
  margin: auto;
}

.read-book .swiper-pagination {
  background-image: none!important;
}

.read-book .swiper-pagination{
  bottom: -5px!important;
}



/* 後で調整 */
.fun .slide{
  width: 400px;
  height: 400px;
  margin: auto;
}

.fun .slide img{
  width: 300px;
  height: 400px
  margin: auto;
}

.fun .swiper-pagination {
  background-image: none!important;
}

.fun .swiper-pagination{
  bottom: -5px!important;
}
/* ここまで */


/* slide↓ */
.swiper-button-prev {
  background-image: none!important;
}

.swiper-button-prev:after {
  content: ''!important;
  display: bloc!importantk;
  width: 15px!important;
  height: 15px!important;
  border-top: 5px solid #094067!important;
  border-left: 5px solid #094067!important;
  -webkit-transform: rotate(-45deg)!important;
  transform: rotate(-45deg)!important;
  position: absolute!important;
  top: 11px!important;
  left: 13px!important;
}

.swiper-button-next {
  background-image: none;
}

.swiper-button-next:after {
  content: ''!important;
  display: block!important;
  width: 15px!important;
  height: 15px!important;
  border-top: 5px solid #094067!important;
  border-right: 5px solid #094067!important;
  -webkit-transform: rotate(45deg)!important;
  transform: rotate(45deg)!important;
  position: absolute!important;
  top: 11px!important;
  right: 15px!important;
}
/* ↑ */

.contact .fa-large{
  font-size: xxx-large;
  color: #094067;
}

.copyright{
  text-align: center;
}

/* smart phone */
@media screen and (max-width:480px) {
 
	body {
	  width: 95%;
	  margin:0px;
	}
	
	.read-book .slide img {
          width: 300px;
          height: 400px;
        }
 
}
/* ↑ */
